.button {
	color: var(--white-color);
	font-family: 'Merriweather', serif;
	font-size: 11pt;
	background-color: rgb(0, 43, 91);
	display: block;
	cursor: pointer;

	a {
		color: var(--white-color);
		text-decoration: none;
	}
}
