.header {
	@include position(relative);
	padding-block: 0.8rem;
	z-index: 100;

	.nav {
		@include size(100%, 5.6rem);
		@include flex(row, center, space-between);
		@include position(fixed, 0, 0);
		transition: all ease 300ms;

		&.fill-color {
			background-color: rgba(33, 33, 33, 1);
		}

		.logo {
			color: var(--white-color);
			font-size: 15pt;
			margin-left: 2.4rem;
		}

		.redirect-links {
			@include flex(row, center, center);
			list-style: none;

			.link {
				> a {
					color: #ffffde;
					font-size: 12pt;
					padding: 1rem 1.2rem;
					display: block;
				}

				&.active > a {
					color: var(--white-color);
				}
			}
		}
	}

	> .label {
		@include size(100%, 34rem);
		@include flexCenter();
		padding: 6rem 4.8rem;
		color: var(--white-color);
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 5rem;
		font-weight: 800;

		&.home-label {
			font-family: 'Anton', sans-serif;
			font-weight: 400;
			font-size: 64pt;
		}
	}

	> .background {
		@include size(100%);
		@include position(absolute, 0, 0);
		object-fit: cover;
		object-position: top right;
		background-color: rgba(0, 43, 91, 1);
		z-index: -1;
		filter: brightness(0.8) grayscale(0.2);
	}
}
